[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Todor Tsankov
	email = tsankov.todya@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	s = status -s
	lg = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --all --graph
	co = checkout
	ci = commit
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	publish = "!git push -u origin $(git branch-name)"
[core]
	autocrlf = input
[pull]
	rebase = true
