[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Todor Tsankov
	email = tsankov.todya@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	s = status -s
	lg = log --pretty=format:“%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]” --decorate --all --graph
	b = branch -a
	bd = branch -D
	ci = commit
	co = checkout
	cp = cherry-pick
	publish = “!git push -u origin $(git branch-name)”
	rbs = “!git rebase -p origin/develop
[core]
	autocrlf = input
	excludefile = ~/.gitignore
[pull]
	rebase = true
[commit]
	gpgsign = true
[branch]
	sort = -authordate
[rebase]
	autoStash = true

