"*":
  core:
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "bdacc546-1c42-66a2-6d62-e85803e7172e"
  linter: {}
  react: {}
  "seti-ui":
    compactView: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
